<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <% if user_signed_in? %>
                <li>
                <%= link_to "Dashboard", user_path(current_user) %>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <% end %>
                <li>
                    <%= link_to "Reservoirs", reservoirs_path %>
                </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; <span id="year"><%= Date.today.year %></span>. All Rights Reserved</p>
        </div>
    </div>
</div>