.sign-up-hero {
  background: linear-gradient(
                  rgba(20,20,20, .3), 
                  rgba(20,20,20, .3)),
                  url("user-new.jpg") center center no-repeat;
  background-size: cover;
  height: 80vh
}

.actions > input {
  margin-right: 10px;
}

.actions > a,span {
  font-size: 15px;
}
