// Place all the styles related to the Reservoirs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 750px) {
  .reservoir-table td {
    padding: 10px 12px 10px 8px !important;
 }
}

#caption {
  position: absolute;
  right: 25px;
  top: 20px;
}

.progress {
  display: inline-block;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transform: rotate(-90deg);
  width: 40px;
  margin-bottom: 0px !important;
  background-color: rgb(232, 182, 45) !important;
  vertical-align: bottom;
}

.progress-bar {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,48,162,1) 28%, rgba(23,80,209,1) 84%, rgba(25,37,255,1) 100%);
}

.percentage {
  display: inline-block;
  vertical-align: middle;
}

.actions-container {
  width: 160px;
}